<a ng:click='goBack()' class='btn btn-primary'><< Back</a>
<hr>
<h2>Alert</h2>


<form class="well" ng:submit="update(currentObject)">
  <label>Message</label>
    <input ng:model='currentObject.message' type="text" class="span3" placeholder="Type something…" >
    <span class="help-inline">(only normal chars)</span>

  <a class="btn" ng:click='goBack()' >Cancel</a>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

 {{currentObject}}



alert <br>
<pre>
  {{currentObject}}
</pre>

report <br>
<pre>
{{report}}
</pre>

deputy <br>
<pre>
{{deputy}}
</pre>
