<h1>Alerts</h1>

<a ng:href="#/alerts?page={{page-1}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="#/alerts?page={{page+1}}">Next</a>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Message</th>
    <th>Level</th>
  </tr>
  <tr ng:repeat="alert in alerts">
    <td>{{alert.alert.id}}</td>
    <td class='max_width_200'>{{alert.alert.message}}</td>
    <td>{{alert.alert.error_level}}</td>
  </tr>

</table>

<a ng:href="#/alerts?page={{page-1}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="#/alerts?page={{page+1}}">Next</a>
