<div class="row">
  <div class="span7"><h2>Alerts</h2></div>
  <div class="span2"><%= partial 'shared/pagination' %></div>
</div>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Message</th>
    <th>Level</th>
  </tr>
  <tr ng:repeat="alert in alerts().get()">
    <td>{{alert.id}}</td>
    <td class='max_width_200'>{{alert.message}}</td>
    <td>{{alert.error_level}}</td>
  </tr>
</table>

<div class="row" style='margin-top:-12px;'>
  <div class="offset7 span2"><%= partial 'shared/pagination' %></div>
</div>