<h1>Alerts</h1>

<%= partial 'shared/pagination' %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Message</th>
    <th>Level</th>
  </tr>
  <tr ng:repeat="alert in alerts().get()">
    <td>{{alert.id}}</td>
    <td class='max_width_200'>{{alert.message}}</td>
    <td>{{alert.error_level}}</td>
  </tr>

</table>

<%= partial 'shared/pagination' %>
