<% models = locals[:model] %>
<div style='padding:5px; margin:5px; border-bottom: solid 1px #acacac; border-top: solid 1px #acacac;' >
  <a href="{{<%= models %>PrevUrl(page)}}" class='btn btn-mini'>Prev</a>
  &nbsp;
  <strong>{{page}}</strong>
  &nbsp;
  <a href="{{<%= models %>NextUrl(page)}}" class='btn btn-mini'>Next</a>
</div>
