<div class="row">
  <div class="span7"><h2>Plugins</h2></div>
  <div class="span2"><%= partial 'shared/pagination' %></div>
</div>


<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <tr ng:repeat="plugin in plugins().get()">
    <td>{{plugin.id}}</td>
    <td class='max_width_200'>{{plugin.name}}</td>
  </tr>

</table>

<div class="row" style='margin-top:-12px;'>
  <div class="offset7 span2"><%= partial 'shared/pagination' %></div>
</div>