<h1><%= @reporter.full_name %></h1>
<table>
  <% @reporter.reports(:include => :group).each do |report| %>
    <tr>
      <td><%= link_to_object report.group %></td>
      <td><%= report.value %></td>
      <td><%= report.updated_at.to_s(:db) %></td>
    </tr>
  <% end %>
</table>