<ul>
  <% Group.level1.each do |group| %>
    <li <%= error_attribute group %>>
      <%= group.name %>
      <ul>
        <% group.children.each do |child| %>
          <li <%= error_attribute child %>>
            <%= link_to child.name, child, :class => (child == @group ? 'bold' : '') %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>