<% if @group.reports.present? %>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Deputy</th>
      <th>Value</th>
      <th>time</th>
    </tr>
    <% @group.reports.all(:include => [:deputy, :validations], :order => 'reported_at desc').each do |report| %>
      <%= render :partial => 'reports/report_row', :locals => {:report => report, :hide_group => true} %>
    <% end %>
  </table>
<% end %>