<%= paginate collection %>
<table>
  <% collection.each do |group| %>
    <tr>
      <td><%= link_to_object group %></td>
      <td><%= link_to_delete group, :text => 'x' %></td>
    </tr>
  <% end %>
</table>
<%= paginate collection %>
