common: &common
  send_email: false
  email_recipients: adsasd@asdas.ccc

  sms_recipients: 1111111111
  sms_user: my_user
  sms_password: my_password
  send_sms: false

  domain: http://sheriff.yourhost.com
  user: user-for-basic-auth
  password: password-for-basic-auth

  hoptoad_api_key: xxxx # leave blank to deactivate
  resque: false

test:
  <<: *common
  user:
  password:
  resque: true

development:
  <<: *common
  user:
  password:

staging:
  <<: *common
  email_recipients: asda@asdsad.com

production:
  <<: *common
  send_sms: true
