<h1>Groups</h1>

<%= partial 'shared/pagination' %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Full Name</th>
  </tr>
  <tr ng:repeat="group in groups">
    <td>{{group.group.id}}</td>
    <td class='max_width_200'>{{group.group.full_name}}</td>
  </tr>

</table>

<%= partial 'shared/pagination' %>
