<%= partial 'shared/header_pagination' %>

<table class='sharp'>
  <tr>
    <th>Group</th>
    <th>Sub-Groups</th>
  </tr>
  <tr ng:repeat="group in groups().get()">
    <td style='width:100px'>{{group.name}}</td>
    <td>
      <ul>
        <li ng:repeat='child in group.groups' style='margin-left: -20px; padding:2 0px; list-style-type:none;'>
          <a href="" class='' >{{child.name}}</a>
        </li>
      </ul>
    </td>
  </tr>

</table>

<%= partial 'shared/footer_pagination' %>
