<%= partial 'shared/header_pagination' %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Full Name</th>
  </tr>
  <tr ng:repeat="group in groups().get()">
    <td>{{group.id}}</td>
    <td>{{group.full_name}}</td>
    <td>
      <div class='label' ng:repeat='child in group.groups' style='margin: 5px'>
        <a href="">{{child.name}}</a>
      </div>
    </td>
  </tr>

</table>

<%= partial 'shared/footer_pagination' %>
