<div class="row">
  <div class="span7"><h2>Groups</h2></div>
  <div class="span2"><%= partial 'shared/pagination' %></div>
</div>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Full Name</th>
  </tr>
  <tr ng:repeat="group in groups().get()">
    <td>{{group.id}}</td>
    <td class='max_width_200'>{{group.full_name}}</td>
  </tr>

</table>

<div class="row" style='margin-top:-12px;'>
  <div class="offset7 span2"><%= partial 'shared/pagination' %></div>
</div>
