<h1>Reports</h1>

<%= partial 'shared/pagination' %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Value</th>
    <th>Deputy</th>
  </tr>
  <tr ng:repeat="report in reports">
    <td>{{report.report.id}}</td>
    <td class='max_width_200'>{{report.report.value}}</td>
    <td class='max_width_200'>{{report.report.deputy_name}}</td>
  </tr>

</table>

<%= partial 'shared/pagination' %>
