<div class="row">
  <div class="span7"><h2>Reports</h2></div>
  <div class="span2"><%= partial 'shared/pagination' %></div>
</div>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Value</th>
    <th>Deputy</th>
  </tr>
  <tr ng:repeat="report in reports().get()">
    <td>{{report.id}}</td>
    <td class='max_width_200'>{{report.value}}</td>
    <td class='max_width_200'>{{report.deputy_name}}</td>
  </tr>

</table>

<div class="row" style='margin-top:-12px;'>
  <div class="offset7 span2"><%= partial 'shared/pagination' %></div>
</div>
