<h1>Reports</h1>

<%#= render :partial => 'shared/pagination' %>
<%= hallo %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Value</th>
    <th>Deputy</th>
  </tr>
  <tr ng:repeat="report in reports">
    <td>{{report.report.id}}</td>
    <td class='max_width_200'>{{report.report.value}}</td>
    <td class='max_width_200'>{{report.report.deputy_name}}</td>
  </tr>

</table>

<a ng:href="{{prevUrl()}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="{{nextUrl()}}">Next</a>

