<%= partial 'shared/header_pagination' %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Value</th>
    <th>Deputy</th>
  </tr>
  <tr ng:repeat="report in reports().get()">
    <td>{{report.id}}</td>
    <td class='max_width_200'>{{report.value}}</td>
    <td class='max_width_200'>{{report.deputy_name}}</td>
  </tr>

</table>

<%= partial 'shared/footer_pagination' %>
