/*
*= require reset
*= require_self
*= require web_app_theme
*= require themes/warehouse/style
*/

.bold{font-weight: bold;}
.left{float:left;}
.clearer{clear: both}

.error_level_0, .error_level_0 td{background: white;}
.error_level_1, .error_level_1 td, #sidebar ul.navigation .error_level_1{background: yellow;}
.error_level_2, .error_level_2 td, #sidebar ul.navigation .error_level_2{background: orange;}
.error_level_3, .error_level_3 td, #sidebar ul.navigation .error_level_3{background: red;}
.pagination{ height: 29px; }
.highlight{ background: lime;}
.max_width_200{  max-width: 200px;}
