<a ng:click='goBack()' class='btn btn-primary'><< Back</a>
<hr>
<h2>Deputy:  {{currentObject.name}}</h2>

<form class="well" ng:submit="update(currentObject)">
  <label>Name</label>
    <input ng:model='currentObject.name' type="text" class="span3" placeholder="Type something…" >
    <span class="help-inline">(only normal chars)</span>


  <label>IP</label>
    <input ng:model='currentObject.address' type="text" class="span3" placeholder="Type something…" >
    <span class="help-inline">Please use a valid IP</span>


  <label class="checkbox">
    <input type="checkbox"> Check me out
  </label>
  <a class="btn" ng:click='goBack()' >Cancel</a>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

 {{currentObject}}
