<h1>Deputies</h1>

Route: {{$route.current.$route.template}}<br>
Location {{$location.$$absUrl}}<br>


<a ng:href="#/deputies?page={{page-1}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="#/deputies?page={{page+1}}">Next</a>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th></th>
  </tr>
  <tr ng:repeat="deputy in deputies">
    <td>{{deputy.deputy.id}}</td>
    <td class='max_width_200'>{{deputy.deputy.name}}</td>
    <td class='max_width_200'>{{deputy.deputy.address}}</td>
    <td><a ng:href='#/deputies?page=3' >Show</a></td>
  </tr>

</table>

<a ng:href="#/deputies?page={{page-1}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="#/deputies?page={{page+1}}">Next</a>

<ng:include src="'/assets/deputies/show.html'"></ng:include>
