<h1>Deputies</h1>

<pre>
Route: {{$route.current.$route.template}}<br>
Location {{$location.$$absUrl}}<br>
</pre>

<%= partial 'shared/pagination' %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th></th>
  </tr>
  <tr ng:repeat="deputy in deputies">
    <td>{{deputy.deputy.id}}</td>
    <td class='max_width_200'>{{deputy.deputy.name}}</td>
    <td class='max_width_200'>{{deputy.deputy.address}}</td>
    <td><a ng:href='#/deputies?id={{deputy.deputy.id}}&action=show'>Show</a></td>
  </tr>

</table>

<%= partial 'shared/pagination' %>
