<input type="search" results="0" placeholder="deputy search..." accesskey="s" autofocus="autofocus" name="" ng:model="search" />
<div class='clearer'></div>
<h1>Deputies</h1>

<%= partial 'shared/pagination' %>

<table class='sharp'>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <tr ng:repeat="deputy in deputies().get()">
    <td><a ng:href='#/deputies?id={{deputy.id}}&action=edit' class='btn btn-mini'>Edit</a></td>
    <td>{{deputy.id}}</td>
    <td class='max_width_200'>{{deputy.name}}</td>
    <td class='max_width_200'>{{deputy.address}}</td>
  </tr>
</table>

<%= partial 'shared/pagination' %>

<pre>
Route: {{$route.current.$route.template}}<br>
Location {{$location.$$absUrl}}<br>
</pre>
