<input type="search" results="0" placeholder="deputy search..." accesskey="s" autofocus="autofocus" name="" ng:model="queryParam" />
<div class='clearer'></div>

<%= partial 'shared/header_pagination', {:model => self.logical_path.split('/').first } %>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Act</th>
  </tr>

<!-- get some inspiration here: http://games.carlbarrdahl.se/_/js/games.js?v=2 -->
  <tr ng:repeat="deputy in deputies([{name:{like:queryParam} }]).get()">
    <td>{{deputy.id}}</td>
    <td class='max_width_200'>{{deputy.name}}</td>
    <td class='max_width_200'>{{deputy.address}}</td>
    <td>
      <a ng:href='{{routes.deputiesEditUrl(deputy)}}' class='btn btn-mini'>Edit</a> &nbsp;
      <a ng:href='{{routes.deputiesDestroyUrl(deputy)}}' class='btn btn-mini btn-danger'>X</a>
    </td>
  </tr>
</table>

<%= partial 'shared/footer_pagination', {:model => self.logical_path.split('/').first } %>
