
<input type="search" results="0" placeholder="deputy search..." accesskey="s" autofocus="autofocus" name="" ng:model="queryParam" />
<div class='clearer'></div>

<div class="row">
  <div class="span7"><h2>Deputies</h2></div>
  <div class="span2"><%= partial 'shared/pagination' %></div>
</div>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Act</th>
  </tr>

<!-- get some inspiration here: http://games.carlbarrdahl.se/_/js/games.js?v=2 -->
  <tr ng:repeat="deputy in deputies([{name:{like:queryParam} }]).get()">
    <td>{{deputy.id}}</td>
    <td class='max_width_200'>{{deputy.name}}</td>
    <td class='max_width_200'>{{deputy.address}}</td>
    <td>
      <a ng:href='{{editUrl(deputy)}}' class='btn btn-mini'>Edit</a> &nbsp;
      <a ng:href='{{destroyUrl(deputy)}}' class='btn btn-mini btn-danger'>X</a>
    </td>
  </tr>
</table>

<div class="row" style='margin-top:-12px;'>
  <div class="offset7 span2"><%= partial 'shared/pagination' %></div>
</div>

<pre>
Route: {{$route.current.$route.template}}<br>
Location {{$location.$$absUrl}}<br>
</pre>
