<h1>Alerts</h1>
$location.hashPath: <input type="text" name="$location.hashPath" size="80" />
    <pre>$route.current.template = {{$route.current.template}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>

<a ng:href="#/alerts?page={{page-1}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="#/alerts?page={{page+1}}">Next</a>

<table class='sharp'>
  <tr>
    <th>ID</th>
    <th>Message</th>
  </tr>
  <tr ng:repeat="alert in alerts">
    <td>{{alert.alert.id}}</td>
    <td class='max_width_200'>{{alert.alert.message}}</td>
  </tr>

</table>

<a ng:href="#/alerts?page={{page-1}}">Prev</a>
<strong>{{page}}</strong>
<a ng:href="#/alerts?page={{page+1}}">Next</a>



