<h1><%= @report.full_name %></h1>
<% form_for @report do |f| %>
  <table>
    <%= f.text_field :reporting_value %>
    <%= f.select :reporting_unit, [['Seconds', 1],['Minutes', 1.minute],['Hours', 1.hour],['Days', 1.day]] %>
    <%= f.submit %>
  </table>
<% end %>