<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Sheriff</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% %w(alerts groups reports deputies plugins summaries settings).each do |type| %>
            <% is_active = (type == params[:controller]) %>
            <li class="<%= is_active ? 'active' : '' %>"><%= link_to type.pluralize.humanize, '/' + type.pluralize.downcase %></li>
          <% end %>
          <% if CFG[:resque] %>
            <% count = Resque.size(:jobs) %>
            <li <%= "class='red_alert'" if count > 200 %>><%= link_to "Resque (#{count} jobs) ⇗", '/resque/overview' %></li>
          <% end %>
        </ul>
        <form class="navbar-search pull-left" action="">
          <input type="text" class="search-query span2" placeholder="Search">
        </form>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->
